.contacts_wrapper {
    display: flex;
    justify-items: center;
}

.contact_items {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content:space-around;
    gap: 15px;
    text-align: center;
    border: 1px solid black;
}

.button {
    margin-left: 8px;
    background-color: rgba(243, 24, 24, 0.705);
    color: rgb(255, 240, 240);
}
